/* ================== RESET ================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ================== CONTAINER ================== */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ================== HEADER ================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ================== HERO ================== */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ================== ADVANTAGES ================== */
.section {
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 72px;
}

.adv-list {
  display: flex;
  gap: 24px;
}

.adv-item {
  flex-basis: calc((100% - 72px) / 4);
}

.adv-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.adv-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.adv-text {
  color: #434455;
}

/* ================== TEAM ================== */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}

.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* ================== PORTFOLIO ================== */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 8px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-category {
  color: #434455;
}

/* ================== FOOTER ================== */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
  font-size: 12px;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ================== MODAL ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
              0 1px 3px 0 rgba(0, 0, 0, 0.12),
              0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px; /* ✅ */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px; /* ✅ */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
}

.check-text {
  font-size: 12px;
  color: #8e8f99;
}

.check-box {
  display: inline-flex; /* ✅ */
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
